body {
	background-color: #CCCCCC;
	text-align: center;
}
#header{
	background-color: #000000;
}
h1 {
	text-align: center;
	font-family: Palatino
}
p {
	text-align: center;
	font-family: Palatino
}
ul{
	list-style-type: none;
}
li {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-family: Palatino
}
h2 {
	text-align: center;
	font-family: Palatino
}
a:link{
	text-decoration: none;
}
a:visited{
	color: blue;
}
a:hover{
	color: #1178ef;
}
img{
	width: 250px;
	height: 250px;
}
table{
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-spacing: 10px;
}
table{
	margin-right: 200px;
	margin-left: 200px;
}
#search{
	float:right;
}
#no_results{
	margin-right: 200px;
	margin-left:200px;
}
