body {
	background-color: #999999;
	text-align: center;
}
h1 {
	text-align: center;
	font-family: Palatino
}
p {
	text-align: center;
	font-family: Palatino
}
ul{
	list-style-type: none;
}
li {
	text-align: center;
	font-family: Palatino
}
h2 {
	text-align: center;
	font-family: Palatino
}
a:hover{
	color: #1178ef;
}
img{
	width: 250px;
	height: 250px;
}
table{
	border-style: solid;
	border-color: blue;
	border-width: 5px;
	border-spacing: 10px;
}
table.center{
	margin-right: auto;
	margin-left: auto;
}
html{
	border-style: solid;
	border-width: 5px;
	border-spacing: 10px;
}