body {
	background-color: #CCCCCC;
	text-align: center;
}
#header{
	background-color: #000000;
}
h1 {
	text-align: center;
	font-family: Palatino
}
h3 {
	font-family: Palatino
}
p {
	text-align: center;
	font-family: Palatino
}
ul{
	list-style-type: none;
}
li {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-family: Palatino
}
h2 {
	text-align: center;
	font-family: Palatino
}
a:link{
	text-decoration: none;
}
a:hover{
	color: #1178ef;
}
img{
	width: 250px;
	height: 250px;
}
table{
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-spacing: 10px;
}
table{
	margin-right: 200px;
	margin-left: 200px;
}
#search{
	float:right;
}
#no_results{
	margin-right: 200px;
	margin-left:200px;
}
#artist_timeline{
	margin-bottom: 50px;
}
#year{
	border-bottom: 50px solid black;
	border-bottom-width: 10px;
	border-bottom
	font-size: 50px
}
.btn{
	font: menu;
	display: inline-block;
	padding: 2px 2px 8px 2px;
	background: ButtonFace;
	color: ButtonText;
	border-style: solid;
	border-width: 2px;
}